
<div class="container skill-list jscroll">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="card">
        <%= link_to("/posts/#{post.id}") do %>
          <div class="ramen-image" >
            <%= image_tag post.image.to_s %>
          </div>
          <ul>
            <li class="user"><%= post.user.name %></li>
            <li class="content"><%= post.content %></li>
            <li class="timestamp">
              <%= time_ago_in_words(post.created_at) %>前に作成
            </li>
          </ul>
          <div id="post-<%= post.id %>">
            <%= render "likes/like", post: post %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>

<script>
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.skill-list',
      nextSelector: 'span.next:last a'
    });
  });
  
  $(window).on('scroll', function() {
    scrollHeight = $(document).height();
    scrollPosition = $(window).height() + $(window).scrollTop();
    if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
          $('.jscroll').jscroll({
            contentSelector: '.skill-list',
            nextSelector: 'span.next:last a'
          });
    }
  });
</script>