
<!--検索機能-->

<%= search_form_for @search,:url => {controller: "top", action: "index"} do |f| %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :ramen_name_cont, "ラーメン名や店名で検索" %>
      <%= f.text_field :ramen_name_or_shop_name_cont, class: "form-control", placeholder: "ラーメン名や店名で検索" %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :star_gteq, "評価" %>
      <%= f.number_field :star_gteq, step: "0.1", class: "form-control"%>以上
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <%= f.label :prefecture_code_cont, "都道府県" %>
      <%= f.collection_select :prefecture_code_eq, JpPrefecture::Prefecture.all, :code, :name, {include_blank: "選択して下さい"}, {class: 'form-control'} %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :ramen_kind_cont, "種類" %>
      <%= f.select :ramen_kind_eq, [["醤油", "醤油"], ["塩", "塩"], ["味噌", "味噌"], 
        ["豚骨", "豚骨"], ["G系", "G系"], ["家系", "家系"], ["つけ麺", "つけ麺"], 
        ["油そば", "油そば"], ["その他", "その他"]], {include_blank: "選択して下さい"}, {class: 'form-control'} %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :sorts, "並び替え" %>
      <%= f.select( :sorts, {
        '評価の高い順': 'star desc', '日付の古い順': 'created_at asc',
        '日付の新しい順': 'created_at desc', 'いいね!の多い順': 'likes_count desc' }, {include_blank: "選択して下さい"}, {class: 'form-control'}) %>
    </div>
    <div class="form-group col-md-1">
      <div class="actions"><%= f.submit "検索", class: "btn btn-primary" %></div>
    </div>
  </div>
  
<% end %>


<div class=" skill-list jscroll">
  <div class="row">
    <%= render "shared/post_card", posts: @posts %>
    <%= paginate @posts %>
  </div>
</div>

<script>
  $(function() {
    $('.jscroll').jscroll({
      contentSelector: '.skill-list',
      nextSelector: 'span.next:last a'
    });
  });
  
  $(window).on('scroll', function() {
    scrollHeight = $(document).height();
    scrollPosition = $(window).height() + $(window).scrollTop();
    if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
          $('.jscroll').jscroll({
            contentSelector: '.skill-list',
            nextSelector: 'span.next:last a'
          });
    }
  });
</script>