<h1>ログインアプリ</h1>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->
  <% if current_user.image? %>
    <img src='<%= current_user.image %>' class="icon_image" alt="ユーザーアイコン">
  <% else %>
    <image src="/assets/default.png" class="icon_image" alt="ユーザーアイコン" %>
  <% end %>
  <h2><%= current_user.name %></h2>
  <h4> メールアドレス： <%= current_user.email %> </h4>
  <p><%= current_user.profile %></p>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
  <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post %>
<% end %>
<ul class="posts">
  <% @posts.each do |post| %>
    <%= link_to("/posts/#{post.id}") do %>
      <li id="post-<%= post.id %>">
          <%= image_tag post.image.to_s, :size => '200x200' %>
          <span class="user"><%= post.user.name %></span>
          <span class="content"><%= post.content %></span>
          <span class="timestamp">
            Posted <%= time_ago_in_words(post.created_at) %> ago.
          </span>
      </li>
    <% end %>
  <% end %>
</ul>