<%= render "user_info" %>
<tr class="follower">
  <th>フォロワー</th>
  <%= link_to followers_user_path(@user.id) do %>
    <td style="color: black;"><%= @user.followers.count %>人</td>
  <% end %>
</tr>
<tr class="follow">
  <th>フォロー</th>
  <%= link_to following_user_path(@user.id) do %>
    <td style="color: black;"><%= @user.following.count %>人</td>
  <% end %>
</tr>