<h1>Users#show</h1>
<% if @user.image? %>
  <img src='<%= @user.image %>' class="icon_image rounded-circle" alt="ユーザーアイコン" height="200" width="200">
<% else %>
  <img src="/assets/default.png" class="icon_image rounded-circle" alt="ユーザーアイコン" height="200" width="200">
<% end %>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>
<% if @user.id == current_user.id && current_user.email != "guest@example.com" %>
  <%= link_to "編集", "/users/edit", class: 'btn btn-success' %>
<% end %>