<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.file_field :image, id: "post_img", value: @post.image %>
    <% if @post.image? %>
      <%= image_tag @post.image.to_s, id: :img_prev, width: "200px" %>
    <% else %>
      <%= image_tag "noimage.jpg", id: :img_prev, width: "200px" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.text_field :ramen_name, placeholder: "ラーメンの名前" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "ラーメンの情報を書いてください" %>
  </div>
  <%= f.submit "投稿", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
$("#post_img").change(function(){
   readURL(this);
 });
});
</script>