<h1><%= @post.ramen_name %></h1>
<%= image_tag @post.image.to_s, :size => '200x200' %>
<h4>評価：<%= @post.star %>点</h4>
<div id="star-rate-<%= @post.id %>"></div>
<%= @post.shop_name %>
<%= @post.ramen_kind %>
<%= @post.user.name %>
<%= @post.content %>
<%= @post.prefecture.name %>
<%= @post.address %>
<%= link_to "編集", "/posts/#{@post.id}/edit" %>
<%= link_to "削除", "/posts/#{@post.id}", method: :delete, data: { confirm: 'この投稿を削除しますか?' } %>
<div id="post-<%= @post.id %>">
  <%= render "likes/like", post: @post %>
</div>
<div id="post-user-<%= @post.id %>">
<%= render "likes/liking_users", post: @post %>
</div>

<div class="comment-wrapper border-top　mb-10">
  <p class="mt-5">コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <% unless c.user.blank? %>
        <%= link_to("/users/#{c.user.id}") do %>
          <% if c.user.image? %>
            <img src='<%= current_user.image %>' class="icon_image rounded-circle" alt="ユーザーアイコン" height="50" width="50">
          <% else %>
            <img src="/assets/default.png" class="icon_image rounded-circle" alt="ユーザーアイコン" height="50" width="50" %>
          <% end %>
        <% end %>
      <% end %>
      <%= c.user.name unless c.user.blank? %>
      <br />
      <%= c.content %>
      <% if c.user == current_user %>
        <%= link_to "削除", "/posts/#{@post.id}/comments/#{c.id}" , method: :delete, data: { confirm: 'このコメントを削除しますか?' } %>
      <% end %>
    </div>
    <br />
  <% end %>
  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content, class: "form-control", rows: 5 %>
      <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>
<script>
$('#star-rate-<%= @post.id %>').raty({
  size: 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  half: true,
  readOnly: true,
  score: <%= @post.star %>,
});
</script>