<!DOCTYPE html>
<html>
  <head>
    <title>RamenMaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "トップへ", top_index_path %>
      <%= link_to "新規投稿", "/posts/new" %>
    </header>
    
    <%= yield %>
  </body>
</html>
