<!DOCTYPE html>
<html>
  <head>
    <title>RamenMaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://kit.fontawesome.com/00af33fed4.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/header"%>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= bootstrap_class_for(message_type) %>"><%= message %></div>
    <% end %>
    
    <%= yield %>
  
    <footer>
      <p>ramen-master</p>
    </footer>
  </body>
</html>
