<!DOCTYPE html>
<html>
  <head>
    <title>RamenMaster</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "トップへ", top_index_path %>
    </header>
    
    <%= yield %>
  </body>
</html>
